
@{
    ViewBag.Title = "NoteCounters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3>
            Note Counters
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-20"></div>
<div class="container">
    <div class="row product_grid">
        <div class="col-sm-6 product_item">
            <div class="product-desc">
                <h3><a href="#">P16 One Pocket Discriminator</a></h3>
            </div><!--product desc end-->
            <div class="product-thumb">
                <a href="/Product/P16"><img src="~/assets/img/products/p16.jpg" alt="" class="img-responsive" /></a>
            </div><!--end product thumb-->
            <div class="product-desc">
                <a href="~/Product/P16" class="btn theme-btn-default btn-lg">View Detail</a>
            </div><!--product desc end-->
        </div><!--product item end-->
        <div class="col-sm-6 product_item">
            <div class="product-desc">
                <h3><a href="#">P30 Two Pocket Discriminator</a></h3>
            </div><!--product desc end-->
            <div class="product-thumb">
                <a href="~/Product/P30"><img src="~/assets/img/products/PlusP30.jpg" alt="" class="img-responsive" /></a>
            </div><!--end product thumb-->
            <div class="product-desc">
                <a href="~/Product/P30" class="btn theme-btn-default btn-lg">View Detail</a>
            </div><!--product desc end-->
        </div><!--product item end-->
    </div><!--product row end-->
    <hr>
</div>
<div class="space-70"></div>

