
@{
    ViewBag.Title = "P30";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            P30 Two Pocket Discriminator
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-20"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/NoteCounters">Note Counters</a></li>
            <li class="breadcrumb-item active" aria-current="page">P-30</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/PlusP30.jpg" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/PlusP30.jpg" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>P30</h2>
                <p>
                    The Plus P30 is a two Pocket Currency Discriminator with compact size & with full CIS recognition technology. With 4.3 inch wide touch screen LCD display.
                </p>
                <div class="space-10"></div>
                <div role="tabpanel" class="tab-pane" id="">
                    <ul class="list-group-item-heading">
                        <li>
                            <h6>
                                Compact Size / Lightweight Two Pocket Discriminator fit into teller use
                            </h6>
                        </li>
                        <li>
                            <h6>Smart manipulation by Touch Screen LCD Display (4.3 inch wide graphic LCD)</h6>
                        </li>
                        <li>
                            <h6>Accurate Value Counting & Sorting by Denomination / Face / Orientation</h6>
                        </li>
                        <li>
                            <h6>Excellent Counterfeit Detection by the optimistic combination of harware and unique software technology</h6>
                        </li>
                        <li>
                            <h6>Multi-Currencies Capabilities up to 10 Currencies (Optionally Available)</h6>
                        </li>
                        <li>
                            <h6>Easy DAta Capture & Auto Upgrade System by USB memory stick</h6>
                        </li>
                        <li>
                            <h6>Intelligent Rear Open Structure for Convenient Maintenance</h6>
                        </li>
                        <li>
                            <h6>Easy MAchine handling by well-designed moving handle</h6>
                        </li>
                        <li>
                            <h6>Authentication Technology : UV / FL / MG / MT / IR-T, IR-R</h6>
                        </li>
                        <li>
                            <h6>Power Supply : Free Voltage (AC100 – 240V, 50/60 Hz)</h6>
                        </li>
                        <li>
                            <h6>Power Consumption : 65 W</h6>
                        </li>
                        <li>
                            <h6>Interface : USB / RS-232C</h6>
                        </li>
                        <li>
                            <h6>Optional Device</h6>
                        </li>
                        <li>
                            <h6>Customer Display (4.3 inch wide graphic LCD)</h6>
                        </li>
                        <li>
                            <h6>Thermal Printer</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    @*<div class="space-10"></div>*@
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        The Plus P30 is a two Pocket Currency Discriminator with compact size & with full CIS recognition technology . It has Wide touch screen LCD display , Accurate value counting and superior counterfeit detection. P16 supports Multi-currency ,Automatic currency recognition .Supports Up to 12 currencies including AED, SAR, USD, OMR, GBP, EUR, KWD, NGN etc. Possibility to change the basic version of the currencies list (optional.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Hopper Capacity</th>
                                <td>
                                    <p>
                                        500
                                    </p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Stacker Capacity</th>
                                <td>
                                    <p>200</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Counterfeit Detections</th>
                                <td>
                                    <p>2CIS, IR, MG, UV</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Counting-Bills Per Minute (BPM)</th>
                                <td>
                                    <p>1000, 1500</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Speed- Counts Per Minute (CPM)</th>
                                <td>
                                    <p>1000</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Operating Modes</th>
                                <td>
                                    <p>Denomination Sort, Issue Year Sort, Mix Count, Orientation Sort, Piece Count</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Dimensions (WxDxH)</th>
                                <td>
                                    <p>266mm (W) x 304mm (D) x 281mm (H)</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

