
@{
    ViewBag.Title = "RCS400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            RCS-400 Recycling Cash Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/RCS">RCS</a></li>
            <li class="breadcrumb-item active" aria-current="page">RCS-400</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/RCS400.png" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/RCS400.png" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>RCS-400</h2>
                <p>
                    Grey on the Outside, Amazingly Bright on the Inside.

                    <br />
                    The minimalistic design together with the latest best-in-class technology and unique software connection, make the RCS 400 2.0 one of the strongest back office solutions on the market.
                </p>
                <div class="space-10"></div>
                <div role="tabpanel" class="tab-pane" id="">
                    <ul class="list-group-item-heading">
                        <li>
                            <h6>
                                Efficient Cash Handling
                            </h6>
                            <p>
                                <small>With the RCS Solutions you take control of your cash through an efficient cash cycle all the way around, from internal cash handling to CIT operations. High recycling capacity up to 16,000 coins for 8 denominations.</small>
                            </p>
                        </li>
                        <li>
                            <h6>Best-In-Class Cash Handling Technology</h6>
                            <p><small>The heavy duty cash recycler, together with its proven sensor technology, makes it one of the strongest solutions on the market.</small></p>
                        </li>
                        <li>
                            <h6>Extreme User-Friendliness</h6>
                            <p><small>The low working height together with light indications make the RCS 400 2.0 one of the most user friendly solutions on the market.</small></p>
                        </li>
                        <li>
                            <h6>24/7</h6>
                            <p><small>Makes cash handling an easy process every day - all year round.</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    @*<div class="space-10"></div>*@
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        Make this smart solution part of your daily operations and decision makings, instead of spending hours on administration and counting.
                        <br />
                        In less than 30 seconds, cash is dispensed into cups or a cash drawer. At the end of the day, the daily takings are deposited back and the cash is easily reconciled through the unique management platform.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Deposit</th>
                                <td>
                                    <p>
                                        Up to 700 coin per minute
                                    </p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Dispense</th>
                                <td>
                                    <p>Up to 500 coins per minute</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Transport Box</th>
                                <td>
                                    <p>5,500 coins</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Recycling Storage</th>
                                <td>
                                    <p>16,000 coins/8 denominations</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Width</th>
                                <td>
                                    <p>600mm (23.6in)</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Depth</th>
                                <td>
                                    <p>500mm (19.6in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Height</th>
                                <td>
                                    <p>995mm (39.1in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Weight</th>
                                <td>
                                    <p>80kg (176.4 lbs.)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Power Supply</th>
                                <td>
                                    <p>100-240 VAC 60-50 Hz</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

