
@{
    ViewBag.Title = "RCS500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            RCS-500 Recycling Cash Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/RCS">RCS</a></li>
            <li class="breadcrumb-item active" aria-current="page">RCS-500</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/RCS500.png" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/RCS500.png" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>RCS-500</h2>
                <p>
                    The RCS Solution is a powerful automator for your back office operations within hospitality, retail, leisure and public transportation.
                </p>
                <div class="space-10"></div>
                <div role="tabpanel" class="tab-pane" id="">
                    <ul class="list-group-item-heading">
                        <li>
                            <h6>
                                Lower Working Capital
                            </h6>
                            <p>
                                <small>Our enterprise software makes it simple to monitor your inventory position in real time across your business.</small>
                            </p>
                        </li>
                        <li>
                            <h6>Improve Cash Flow</h6>
                            <p><small>The RCS-500 fully automates your note handling to speed up the process allowing you to spend less time managing your cash.</small></p>
                        </li>
                        <li>
                            <h6>Gain Cash Insights</h6>
                            <p><small>Our on-site software coupled with the RCS-500 together provides full visibility and accurate reporting of cash cycle.</small></p>
                        </li>
                        <li>
                            <h6>Increase Time Savings</h6>
                            <p><small>Automated till dispense to increase efficiency at the start and end of shifts, reducing human reporting errors and increasing accountability.</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    @*<div class="space-10"></div>*@
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        Make this smart solution part of your daily operations and decision making, instead of spending hours on administration and counting. This ensures a quick return on investment through dramatically improved cash management.

                        The steady flow of cash into your back office needs to be counted, allocated and secured quickly and efficiently. With the Recycling Cash Solution you take control of your cash through an efficient cash cycle in all areas of your business, from internal cash handling to CIT operations. This ensures both time and cost savings, as well as an improved customer service.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Deposit</th>
                                <td>
                                    <p>
                                        200 notes mixed in a bundle, 8 notes per second
                                    </p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Dispense</th>
                                <td>
                                    <p>8 notes per second</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Storage Capacity</th>
                                <td>
                                    <p>12,500 notes</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Recycling Storage</th>
                                <td>
                                    <p>2,500-10,000 notes, 1-5 cassettes</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Width</th>
                                <td>
                                    <p>534mm (21in)</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Depth</th>
                                <td>
                                    <p>800mm (31.4in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Height</th>
                                <td>
                                    <p>1300mm (51.2in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Weight Empty</th>
                                <td>
                                    <p>700kg (1,545 lbs.)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Safe</th>
                                <td>
                                    <p>CEN IV</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

