
@{
    ViewBag.Title = "RCSActive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            RCS-Active Recycling Cash Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/RCS">RCS</a></li>
            <li class="breadcrumb-item active" aria-current="page">RCS-Active</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/RCSActive.png" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/RCSActive.png" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>RCS-Active</h2>
                <p>
                    The CashCompleteTM RCS-Active demonstrates the technological evolution in our RCS product line, now featuring: Active Sorting® coin tray optimized to fit customer tills, lower height, and higher speed. Also featuring a convenient two-door design for segregated technical and end-user access, eight coin hoppers, and dedicated outlets per hopper.
                </p>
                <div class="space-10"></div>
                <div role="tabpanel" class="tab-pane" id="">
                    <ul class="list-group-item-heading">
                        <li>
                            <h6>
                                Advanced Sensors
                            </h6>
                            <p>
                                <small>By detecting diameter, thickness, surface & bulk conductivity, and magnetic properties the RCS-Active enables more sophisticated sorting.</small>
                            </p>
                        </li>
                        <li>
                            <h6>Massive Coin Capacity</h6>
                            <p><small>To extend time between administrative activities, the RCS-Active stores over 32,000 coins.</small></p>
                        </li>
                        <li>
                            <h6>Separate Compartment Access</h6>
                            <p><small>The RCS-Active features separate upper and lower compartment access to increase serviceability and security.</small></p>
                        </li>
                        <li>
                            <h6>Accessible Height</h6>
                            <p><small>At just under 46", or 117cm tall, the RCS-Active remains accessible while maintaining high capacity.</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    @*<div class="space-10"></div>*@
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        Active-CAM uses coin lift and agitators to control coin flow, so machine doesn't overheat, reducing jams and service calls while extending the life of the machine. The RCS-Active is also able to accept and/or recycle multiple currencies and can be adapted to client-specific configurations where denomination and hopper configuration are modified if coin-needs change.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Deposit Speed</th>
                                <td>
                                    <p>
                                        Up to 1,700 coins per minute
                                    </p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Dispense Speed</th>
                                <td>
                                    <p>Up to 2,400 coins per minute</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Total Capacity</th>
                                <td>
                                    <p>	32,050 Coins</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Storage Pickup / Overflow</th>
                                <td>
                                    <p>Up to 8,650 coins</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Width</th>
                                <td>
                                    <p>685 mm (26.97 in)</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Depth</th>
                                <td>
                                    <p>786mm (29.78 in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Height without PC</th>
                                <td>
                                    <p>1,158 mm (45.61 in)</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

