
@{
    ViewBag.Title = "SDS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3>
            SDS Smart Deposit Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <div class="row product_grid">
        <div class="col-sm-6 product_item">
            <div class="product-desc">
                <h3><a href="#">SDS-35</a></h3>
            </div><!--product desc end-->
            <div class="product-thumb">
                <a href="/Product/SDS35"><img src="~/assets/img/products/SDS35.png" alt="" class="img-responsive" /></a>
            </div><!--end product thumb-->
            <div class="product-desc">
                <a href="~/Product/SDS35" class="btn theme-btn-default btn-lg">View Detail</a>
            </div><!--product desc end-->
        </div><!--product item end-->
        <div class="col-sm-6 product_item">
            <div class="product-desc">
                <h3><a href="#">SDS-760</a></h3>
            </div><!--product desc end-->
            <div class="product-thumb">
                <a href="~/Product/SDS760"><img src="~/assets/img/products/SDS760.png" alt="" class="img-responsive" /></a>
            </div><!--end product thumb-->
            <div class="product-desc">
                <a href="~/Product/SDS760" class="btn theme-btn-default btn-lg">View Detail</a>
            </div><!--product desc end-->
        </div><!--product item end-->
    </div><!--product row end-->
    <hr>
</div>
<div class="space-70"></div>

