
@{
    ViewBag.Title = "SDS35";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            SDS-35 Smart Deposit Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/SDS">SDS</a></li>
            <li class="breadcrumb-item active" aria-current="page">SDS-35</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/SDS35.png" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/SDS35.png" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>SDS-35</h2>
                <p>
                    SDS-35 Smart Deposit Solution improves accuracy, cash visibility and shrinkage protection for a complete transformation of your cash management. The SDS-35 is the ideal solution for businesses where cash volume, security and handling takes up a significant amount of staff and time.
                </p>
                <div class="space-30"></div>
                <div role="tabpanel" class="tab-pane" id="">
                    <table class="table shopping-cart-table">
                        <tbody>
                            <tr class="">
                                <th><p class="small" style="color: darkgreen">Reduce Time Spent Counting Cash</p></th>
                                <td>
                                    <p class="small">Real-time reporting provides exact counts of all deposits</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th><p class="small" style="color: darkgreen">Automate Processing</p></th>
                                <td>
                                    <p class="small">Prevent counting errors of your cash inventory</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th><p class="small" style="color: darkgreen">Increase Accountability</p></th>
                                <td>
                                    <p class="small">Monitor deposits and pickups on CashCompleteTM On-Device Software with unique user logins</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th><p class="small" style="color: darkgreen">Prevent Counterfeits</p></th>
                                <td>
                                    <p class="small">Instantly and easily validate notes with our MFL's 4-way read capability</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    @*<div class="space-10"></div>*@
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        Utilizing the proven SUZOHAPP MFL bill validator, the SDS-35 reduces shrinkage, which is the loss of cash due to hazards such as theft, accounting errors, and accepting counterfeit notes. Integrating the CashCompleteTM SDS-35 at the point of sale (POS) will streamline your cash counting process by eliminating unnecessary touchpoints and immediately securing your cash.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Deposit</th>
                                <td>
                                    <p>MFL 4-way read, self-centering</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Capacity</th>
                                <td>
                                    <p>Up to 1,000 notes</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Width</th>
                                <td>
                                    <p>210 mm (8.2 in)</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Depth</th>
                                <td>
                                    <p>300 mm (11.8 in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Height</th>
                                <td>
                                    <p>437 mm (17.2 in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Weight</th>
                                <td>
                                    <p>21.8 kg (48 lbs.)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Power Supply</th>
                                <td>
                                    <p>120 VAC 60Hz, 240 VAC 50Hz</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

