
@{
    ViewBag.Title = "SDS760";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            SDS-760 Smart Deposit Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/SDS">SDS</a></li>
            <li class="breadcrumb-item active" aria-current="page">SDS-760</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/SDS760.png" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/SDS760.png" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>SDS-760</h2>
                <p>
                    Optimize your cash handling to eliminate errors, shrinkage, and time waste. With the latest High-Speed Smart Deposit Solution from SUZOHAPP you will process deposits fast, while ensuring note processing accuracy and reducing the risk of robbery.
                </p>
                <div class="space-30"></div>
                <ul class="list-group-item-heading">
                    <li><h6>Reduce Labor Costs</h6></li>
                    <li><h6>High Speed Deposit</h6></li>
                    <li><h6>Proprietary Heat Seal Bag System</h6></li>
                    <li><h6>Fully Vertically Integrated with SUZOHAPP Technology</h6></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="space-20"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        The SDS-760 software platform CashCompleteTM Connect provides complete cash management overview with detailed monitoring and automatic reconciliations. In the end, you will experience a safer working environment and a better customer service, with high return on your investment. Ideal solution for large cash volume retailers and businesses where security and process optimization matter the most.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Deposit Speed</th>
                                <td>
                                    <p>10 Notes per Second</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Total Capacity</th>
                                <td>
                                    <p>Up to 10,000 Notes</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Storage Pickup / Overflow</th>
                                <td>
                                    <p>Heat Seal Bag</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Width</th>
                                <td>
                                    <p>570mm (22.4in)</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Depth</th>
                                <td>
                                    <p>570mm (22.4in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Height</th>
                                <td>
                                    <p>1175mm (46.25in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Safe Grade</th>
                                <td>
                                    <p>UL 291 (24-Hour Level-1)</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

