
@{
    ViewBag.Title = "SPS800";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content-region-3" class="padding-20 page-tree-bg">
    <div class="container">
        <h3 class="page-tree-text">
            SPS-800 Smart POS Solutions
        </h3>
    </div>
</section><!--page tree end here-->
<div class="space-30"></div>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Product/SPS">SPS</a></li>
            <li class="breadcrumb-item active" aria-current="page">SPS-800</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-6">
            <!-- template -->
            <div class="ms-showcase2-template">
                <!-- masterslider -->
                <div class="master-slider ms-skin-default" id="masterslider">

                    <div class="ms-slide text-center">
                        <img src="assets/master-slider/style/blank.gif" data-src="~/assets/img/products/SPS800.png" alt="" width="200" height="200" />
                        <img class="ms-thumb" src="~/assets/img/products/SPS800.png" alt="thumb" width="450" height="450" />
                    </div>
                </div>
                <!-- end of masterslider -->
            </div>
            <!-- end of template -->
        </div>
        <div class="col-sm-6">
            <div class="product-detail">
                <h2>SPS-800</h2>
                <p>
                    The CashCompleteTM SPS-700 & SPS-800 together, are the next generation fully automated point of sales recycling cash solution for retail to minimize manual handling in check-out lanes.
                </p>
                <div class="space-30"></div>
                <div role="tabpanel" class="tab-pane" id="">
                    <ul class="list-group-item-heading">
                        <li><h6>World Leading Sensor Technology</h6></li>
                        <li><h6>Counterfeit Note Detection</h6></li>
                        <li><h6>Conveniently Small Footprint</h6></li>
                        <li><h6>Fully Automated Recycling</h6></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    @*<div class="space-10"></div>*@
    <div class="row">
        <div class="col-md-8 col-md-offset-2 product-information">
            <!-- Nav tabs -->
            <ul class="item-info-tabs list-inline" role="tablist">
                <li role="presentation" class="active"><a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#Information" aria-controls="Information" role="tab" data-toggle="tab">Technical Specification</a></li>
                @*<li role="presentation"><a href="#Reviews" aria-controls="Reviews" role="tab" data-toggle="tab">Reviews <sup>3</sup></a></li>*@
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Description">
                    <p>
                        SPS-700 & SPS-800 are a closed end-to-end solution, securing the entire cash loop, from the checkout to the retailer's account, resulting in increased security, reduced costs and more flexibility.
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="Information">
                    <table class="table-hover table">
                        <tbody>
                            <tr class="">
                                <th>Speed</th>
                                <td>
                                    <p>
                                        2-3 coins per second deposit <br />10 coins per 12 seconds dispense
                                    </p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Storage</th>
                                <td>
                                    <p>1200 Coins Mixed</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Total Capacity</th>
                                <td>
                                    <p>2000 Coins</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Recycling Storage</th>
                                <td>
                                    <p>800 Coins</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Cash Transport</th>
                                <td>
                                    <p>Pickup Box 800 Coins</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Currency</th>
                                <td>
                                    <p>Multi-Currency as Option</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Width</th>
                                <td>
                                    <p>300mm (11.8in)</p>
                                </td>
                            </tr>
                            <tr class="alt">
                                <th>Depth</th>
                                <td>
                                    <p>440mm (17.3in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Height</th>
                                <td>
                                    <p>807(856)mm (31.8in)</p>
                                </td>
                            </tr>
                            <tr class="">
                                <th>Safe Grade</th>
                                <td>
                                    <p>2mm Steel Front Access</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="space-20"></div>

