@{
    ViewBag.Title = "Home Page";
}

<!--bootstrap carousel slider start-->
<!-- Carousel
================================================== -->
<div class="home-slider">
    <div id="bizwrap-Carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bizwrap-Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bizwrap-Carousel" data-slide-to="1" class=""></li>
            <li data-target="#bizwrap-Carousel" data-slide-to="2" class=""></li>
            <li data-target="#bizwrap-Carousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" id="item-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text-left slider-wrapper">
                            <h1 class="animated fadeInDown delay-1">Welcome to Cash Systems</h1>
                            @*<p class=" animated fadeInDown delay-2">A South African leading provider in Cash Handling Equipment, Bill / Prepaid Vending Kiosk and Queue Management Solutions. The company has a national footprint in South Africa with headquarter base in Johannesburg.</p>*@
                            @*<p class=" animated fadeInDown delay-3">Cash Systems has recently enjoyed considerable success in exporting some of its products in the Sub-Saharan African countries including Namibia</p>*@
                        </div>
                    </div>
                </div>
            </div><!--slide item 1-->
            <div class="item" id="item-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="slider-wrapper-3">
                                <h1 class="animated fadeInLeft delay-3">SDS-760 Smart Deposit Solutions</h1>
                                <p class="animated fadeInLeft delay-4">
                                    Optimize your cash handling to eliminate errors, shrinkage, and time waste.
                                </p><br>
                                <p class=""><a href="~/Product/SDS760" class=" btn theme-btn-default btn-lg btn-big animated fadeInLeft delay-5">See More</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <img src="~/assets/img/products/SDS760.png" width="400" height="250" class="img-responsive animated bounceIn delay-5 slider-2img" alt="">
                        </div>
                    </div>
                </div>
            </div><!--slide item 2-->
            <div class="item" id="item-3">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="slider-wrapper-2">
                                <h1 class="animated bounceIn delay-2">Note Counter P30</h1>
                                <p class="animated bounceIn delay-3">The Plus P30 is a two Pocket Currency Discriminator with compact size & with full CIS recognition technology. With 4.3 inch wide touch screen LCD display. </p>
                                <br> <p class=""><a href="~/Product/P30" class=" btn theme-btn-color btn-lg btn-big animated fadeInLeft delay-5">See More</a></p>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs">
                            <img src="~/assets/img/products/P30.png" class="img-responsive animated bounceIn delay-5 slider-2img" alt="" />
                            @*<img src="assets/img/mackbook-pro.png" class="img-responsive animated bounceIn delay-5 slider-2img" alt="">*@
                        </div>
                    </div>
                </div>
            </div><!--slide item 3-->
            <!--slide item 4-->
            <div class="item" id="item-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="slider-wrapper-3">
                                <h1 class="animated fadeInLeft delay-3">SDS-35 Smart Deposit Solutions</h1>
                                <p class="animated fadeInLeft delay-4">
                                    The CashCompleteTM SDS-35 Smart Deposit Solution improves accuracy, cash visibility and shrinkage protection for a complete transformation of your cash management.
                                </p><br>
                                <p class=""><a href="~/Product/SDS35" class=" btn theme-btn-default btn-lg btn-big animated fadeInLeft delay-5">See More</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <img src="~/assets/img/products/SDS35.png" width="400" height="250" class="img-responsive animated bounceIn delay-5 slider-2img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#bizwrap-Carousel" data-slide="prev"><i class="ion-ios-arrow-left"></i></a>
        <a class="right carousel-control" href="#bizwrap-Carousel" data-slide="next"><i class="ion-ios-arrow-right"></i></a>
    </div><!-- /.carousel -->
</div><!--home-slider-->
<!--carousel slider end-->

<div class="space-50"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h2>Cash System</h2>
            <h3 class="subtitle">Cash Systems – A South African leading provider in Cash Handling Equipment, Bill / Prepaid Vending Kiosk and Queue Management Solutions. The company has a national footprint in South Africa with headquarter base in Johannesburg. Cash Systems has recently enjoyed considerable success in exporting some</h3>
        </div>
        <div class="space-70"></div>
        <div class="col-md-4 col-sm-6">
            <div class="services-box wow animated fadeInLeft" data-wow-delay="0.3s">
                <i class="ion-cash"></i>
                <h1>Cash Management</h1>
                <p>
                    Eliminate all daily tasks from counting, managing till content, reconciliation and reporting each location's cash, which allows the organization's staff to be deployed into higher value activities....
                </p>
            </div>
        </div><!--services box-->
        <div class="col-md-4 col-sm-6">
            <div class="services-box wow animated fadeInLeft" data-wow-delay="0.5s">
                <i class="ion-beaker"></i>
                <h1>Increase Efficiency</h1>
                <p>
                    CashCompleteTM software is the ultimate solution for superior financial and operational control of cash. Our solution is easily and efficiently managed by local, regional, and corporate personnel.
                </p>
            </div>
        </div><!--services box-->
        <div class="col-md-4  col-sm-6">
            <div class="services-box wow animated fadeInLeft" data-wow-delay="0.7s">
                <i class="ion-scissors"></i>
                <h1>Complete Security</h1>
                <p>
                    Protect your investment in more ways than one! Secured system cash transactions and increased employee safety giving peace of mind throughout your business....
                </p>
            </div>
        </div><!--services box-->
    </div><!--row end-->
</div><!--intro with services end-->
<div class="space-70"></div>
<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 features wow animated fadeInLeft" data-wow-delay="0.3s">
                <h3>Our services</h3>
                <p>
                    We provide service and preventative maintenance solutions for all our products to suit specific requirements backed by our extensive background in IT and business acumen.
                </p>
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon text-info">
                        <i class="ion-laptop"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Note Counters - Sales & Repairs</h4>
                        <p>
                            P30 is a two Pocket Currency Discriminator with compact size & with full CIS recognition technology . It has Wide touch screen LCD display , Accurate value counting and superior counterfeit detection.
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                        <i class="ion-ios-barcode-outline"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Smart POS Solutions</h4>
                        <p>
                            SPS-700 & SPS-800 together, are the next generation fully automated point of sales recycling cash solution for retail to minimize manual handling in check-out lanes.
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                        <i class="ion-cash"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Recycling Cash Solutions</h4>
                        <p>
                            RCS-Active demonstrates the technological evolution in our RCS product line, now featuring: Active Sorting® coin tray optimized to fit customer tills, lower height, and higher speed. Also featuring a convenient two-door design for segregated technical and end-user access, eight coin hoppers, and dedicated outlets per hopper..
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-3 services-icon">
                        <i class="ion-wrench"></i>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Technical Service & Software Support</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis.
                        </p>
                    </div>
                </div><!--services list-->
            </div>
            <div class="col-md-5 wow animated fadeInRight" data-wow-delay="0.5s">
                <img src="~/assets/img/products/P-30-Currency-Discriminator.jpg" class="img-responsive" alt="" />
                <img src="~/assets/img/products/SPS700.png" class="img-responsive" height="200" alt="" />
            </div>            
        </div>

    </div><!--container-->
</section><!--features end-->
<div class="space-70"></div>

<div class="space-50"></div>